<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss} -- [%t] -- %-5p %c{1}:%L - %m%n</Property>
    </Properties>

    <Appenders>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <File append="false" fileName="logs/mobile.log" name="FileAppender">>
            <PatternLayout pattern="${logPattern}"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <Appender-ref ref="FileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>